*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f2c0e1;

}
.dep1{
    margin: 30px;
    width: 25%;
    height: 300px;
    float: left;  
}

.hinh{
    height: 260px;
}


.ten{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

}
.giatien{
    margin-left: 100px;

}
.giagoc{
    float: left;
    text-align: center;
}
.giamgia{
    color: red;
    margin-left: 20px;
    float: left;
}

/*---------------------------------------------*/
.dep2{
    margin: 30px;
    width: 25%;
    height: 300px;
    float: left;
}

/*--------------------------------------------*/
.dep3{
    margin: 30px;
    width: 25%;
    height: 300px;
    float: left;
}

/*--------------------------------------------*/
.dep4{
    margin: 30px;
    width: 25%;
    height: 300px;
    float: left;
}
/*---------------------------------------------*/
.dep5{
    margin: 30px;
    width: 25%;
    height: 300px;
    float: left;
}
/*---------------------------------------------*/
.dep6{
    margin: 30px;
    width: 25%;
    height: 300px;
    float: left;
}
/*---------------------------------------------*/
.dep7{
    margin: 30px;
    width: 25%;
    height: 300px;
    float: left;
}
/*---------------------------------------------*/
.dep8{
    margin: 30px;
    width: 25%;
    height: 300px;
    float: left;
}

/*---------------------------------------------*/
.dep9{
    margin: 30px;
    width: 25%;
    height: 300px;
    float: left;
}
/*---------------------------------------------*/